<div class="col-md-3" style="margin-bottom:1.5rem">
  <div class="card">
    <img src="<%= book.imageUrl %>" style="aspect-ratio:3/4;object-fit:cover">

    <div class="card-content p-0">
      <h6 class="card-title mt-0" title="<%= book.title %>"><%= book.title %></h6>
      <p><strong>Author:</strong> <%= book.author %></p>
      <p><strong>Genre:</strong> <%= book.genre %></p>
      <p><strong>Status:</strong> <%= book.readStatus ? 'Read' : 'Unread' %></p>
    </div>

    <div class="cardFooter">
      <a href="/books/edit/<%= book.id %>" class="btn col-6"><i class="bi bi-pencil"></i></a>
      <a href="/books/delete/<%= book.id %>"
         class="btn col-6"
         onclick="return confirm('Delete this book?')">
         <i class="bi bi-trash"></i>
      </a>
    </div>
  </div>
</div>
